/*
This is the Horizontal Navigation Bar Example with Active/Current Navigation Link
From here https://www.w3schools.com/css/css_navbar.asp
*/

#addPerson, #refresh, #searchBtn, #searchInput, #criteria {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border-color: black;
}